.main{
  padding: 20px;
  height: 100%;
  
}
.layout{
  display: flex;
  height: 100%;
}
.sidebar{
  background-color: #005555;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
  padding: 10px;
  width: 250px;
}
.content {
  width: 100%;
  height: 100%;
}
.header{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-bottom: 20px;
  height: 10vh;
}
.body{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  height: 83vh;
}
.menu {
  margin-top: 100px;
}
.menu-item {
  margin-top: 30px;
}
.menu-item a{
color: #fff;
text-decoration: none;
font-size: 18px;
}
.menu-item i{
color: #fff;
text-decoration: none;
font-size: 18px;
margin: 0 15px;
}
.active-menu-item{
  background-color: #013b3b;
  padding: 5px;
  border-radius: 5px;
}